absl-py==0.12.0
abydos==0.5.0
alembic==1.4.0
appdirs==1.4.4
astunparse==1.6.3
attrs==20.3.0
azure-common==1.1.24
azure-nspkg==3.0.2
black==21.4b0
cachelib==0.1.1
cachetools==4.2.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.2
coverage==5.5
cryptography==2.8
dataclasses==0.6
deprecation==2.1.0
Flask==0.12.5
Flask-Login==0.5.0
Flask-Session==0.3.2
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
flatbuffers==1.12
fuzzywuzzy==0.18.0
gast==0.3.3
google-auth==1.29.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
hmni==0.1.8
idna==2.8
iniconfig==1.1.1
isort==5.8.0
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==1.0.1
Keras-Preprocessing==1.1.2
Mako==1.1.1
Markdown==3.3.4
MarkupSafe==1.1.1
marshmallow==2.21.0
marshmallow-dataclass==0.6.4
msal==1.3.0
mypy-extensions==0.4.3
numpy==1.19.5
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.4
pathspec==0.8.1
pluggy==0.13.1
protobuf==3.15.8
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
PyJWT==1.7.1
pyodbc==4.0.28
pyOpenSSL==19.1.0
pyparsing==2.4.7
pytest==6.2.3
python-dateutil==2.8.1
python-dotenv==0.17.0
python-editor==1.0.4
pytz==2021.1
regex==2021.4.4
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-learn==0.23.2
scipy==1.6.3
six==1.15.0
SQLAlchemy==1.3.13
tensorboard==2.5.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.2
typing-extensions==3.7.4.3
typing-inspect==0.6.0
Unidecode==1.2.0
urllib3==1.25.8
Werkzeug==0.16.1
wrapt==1.12.1
WTForms==2.2.1
