{% extends "layout.html" %}

{% block content %}
<h1>{{ title }}</h1>
<form action="" method="post" novalidate enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-sm-4">
            <p>
                {{ form.first_name1.label }}<br>
                {{ form.first_name1(size=64) }}
                {% for error in form.first_name1.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.last_name1.label }}<br>
                {{ form.last_name1(size=64) }}
                {% for error in form.last_name1.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.birth_date1.label }}<br>
                {{ form.birth_date1 }}
                {% for error in form.birth_date1.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.bsn1.label }}<br>
                {{ form.bsn1 }}
                {% for error in form.bsn1.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                {{ form.first_name2.label }}<br>
                {{ form.first_name2(size=64) }}
                {% for error in form.first_name2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.last_name2.label }}<br>
                {{ form.last_name2(size=64) }}
                {% for error in form.last_name2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.birth_date2.label }}<br>
                {{ form.birth_date2 }}
                {% for error in form.birth_date2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.bsn2.label }}<br>
                {{ form.bsn2 }}
                {% for error in form.bsn2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        </div>
        <p>{{ form.submit() }}</p>
        <div class="col-sm-4">
            <p>
                {{ form.probability.label }}<br>
                {{ form.probability(size=30) }}
                {% for error in form.probability.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        </div>
    </div>
</form>
{% endblock %}