{% extends "layout.html" %}

{% block content %}
<h1>{{ title }}</h1>

<div class="row">
    <div class="col-sm-4">
        <div class="panel-body">
            <div class="form-inline">
                <div class="form-group">
                    <label for="first_name1">First Name</label>
                    <input type="text" class="form-control" id="first_name1">
                </div>

                <div class="form-group">
                    <label for="last_name1">Last Name</label>
                    <input type="text" class="form-control" id="last_name1">
                </div>

                <div class="form-group">
                    <label for="birth_date1">Birth Date</label>
                    <input type="text" class="form-control" id="birth_date1">
                </div>

                <div class="form-group">
                    <label for="bsn1">Identification Number</label>
                    <input type="text" class="form-control" id="bsn1">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel-body">
            <div class="form-inline">
                <div class="form-group">
                    <label for="first_name2">First Name</label>
                    <input type="text" class="form-control" id="first_name2">
                </div>

                <div class="form-group">
                    <label for="last_name2">Last Name</label>
                    <input type="text" class="form-control" id="last_name2">
                </div>

                <div class="form-group">
                    <label for="birth_date2">Birth Date</label>
                    <input type="text" class="form-control" id="birth_date2">
                </div>

                <div class="form-group">
                    <label for="bsn2">Identification Number</label>
                    <input type="text" class="form-control" id="bsn2">
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <button class="btn btn-primary" id="probabilityButton">Probability</button>
        <div class=" panel-heading">
            <h3 class="panel-title">Probability: <span id="probability"></span>
            </h3>
        </div>
    </div>
</div>

{% endblock %}